<p>Hey there,</p>
<p>you can reset your password by using the otp {{code}}</p>

<p>If you did not request this email you can safely ignore it.</p>
<br>
<span style="color:red;">We keep our users data secure and thus donnot save your card details.you can find
    more at <a href="https://brixtonbest.se/privacy">Our policy</a></span>
<address>
    Best Regards,
    <br>
    Brixtonbest,

</address>
</p>

<p>
    Find out our newest products for this season <a href="https://brixtonbest.se/products">Explore</a>
</p>
</div>
</body>
<footer>
    <p>You are recieving this email because you have created an account at brixtonbest.se.If it wasnot you you can let
        us know at contact@brixtonbest.se.</p>
</footer>